Practika1/test.py
Practika1/raspoznavanie-na-osnove-invariantnyh-momentov.pdf
Practika3/Визуальный когнитивный контроль радиотехническихсигналов систем космического назначения.pdf
Practika3/test.py
Practika3/test2.py